extends layout

block append stylesheets
    link(rel='stylesheet', href='/stylesheets/index.css')

block append content
    div hi
        button(onclick="logout()") logout
    div.grid-container
        a.grid-item
            //img(src="AA.png")
        a.grid-item
           // img(src="AA.png")
        a.grid-item
          //  img(src="AA.png")
        a.grid-item
          //  img(src="AA.png")