extends layout
block title
    title login

block append content
    div
        p
    div email
        input#email
    div password
        input#password
    button(onclick="sendRequest('login')") login
    p Nie masz konta?
    a(href="register") Zarejestruj się!