extends layout

block append body
    img(src="../images/" + product.img_name)
    p amount: #{product.amount}
    p prize: #{product.prize}
    p name: #{product.name}
    p description: #{product.description}