extends layout

block append content
    div
        p
    div login
        input#username
    div email
        input#email
    div password
        input#password
    div
        button(onclick="sendRequest('register')") register