img {
    width: 10vw;
    height: 26vh;
}

li {
    margin-top: 5px;
    list-style-type: none;
    background-color: #D7E9FF;
}

.name {
    top: -22.5vh;
    left: 1vw;
    color: grey;
    position: relative;
    font-size: calc(1.5vw + 1.5vh);
    font-weight: bold;
    max-width: 60vw;
}

#left {
    position: relative;
    right: -3px;
}

#right {
    position: relative;
    left: -3px;
}

input {
    background-color: WHITE;
    border-radius: 3px;
    border: solid #6040FF;
    width: 5vw;
    height: 3vh;
    font-size: calc(1vh + 1vw);
}

button {
    position: relative;
    top: -1px;
    color: #202080;
    font-weight: bold;
    font-size: calc(0.9vw + 0.9vh);
    background-color: #6040FF;
    height: 3.9vh;
    border-radius: 3px;
    border: solid #6040FF;
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.prize {
    color: dimgrey;
    float: right;
    position: relative;
    top: 7vh;
    left: 7vw;
    font-size: calc(0.9vw + 0.9vh);
    font-weight: bold;
}

.amount {
    position: relative;
    top: 4vh;
    right: 2.5vw;
    float: right;
}

.delete {
    width: 3vw;
    float: right;
    position: relative;
    top: 20vh;
    right: 8.5vw;
}

#summary {
    margin-bottom: 2vh;
    float: right;
    position: relative;
    right: 2vw;
    top: 1vh;
    font-size: calc(1.5vw + 1.5vh);
    height: 7vh;
    width: 25vw;
}