#categories {
    border-radius: 2px;
    background-color: #E0F0FF;
    margin: 3vh 0 0 30px;
    float: left;
    padding: 10px 10px 10px 10px;
    width: 14.8vw;
    height: 84vh;
}

#categories a {
    margin-top: 1.5vh;
    color: #202080;
    font-size: calc(0.8vw + 0.8vh);
    font-weight: bold;
    display: block;
}

#categories a + a {
    border-top: 1px solid gray;
}


#categories a:hover {
    opacity: 0.5;
    cursor: pointer;
}

#search {
    float: right;
    margin-top: 5vh;
    margin-right: 10vw;
}

#search button {
    color: #202080;
    font-weight: bold;
    font-size: calc(0.9vw + 0.9vh);
    margin-left: -3px;
    float: right;
    background-color: #6040FF;
    height: 3.9vh;
    border-radius: 3px;
    border: solid #6040FF;
}

#search button:hover {
    opacity: 0.5;
    cursor: pointer;
}

#searchbar {
    background-color: WHITE;
    border-radius: 3px;
    border: solid #202080;
    width: 60vw;
    height: 3vh;
    font-size: calc(1vh + 1vw);
}

#searchbar:focus {
    outline: none;
}

a + a {
    padding-top: 8px;
}

.grid-container {
    margin-top: 12vh;
    padding-left: 4vw;
    padding-right: 4vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    height: 380px;
    margin-bottom: 20vh;
}

.grid-item + .grid-item {
}

.grid-item:hover {
    opacity: 0.9;
}

.grid-item img {
    top: -2vh;
    bottom: -2vh;
    position: relative;
    width: 15vw;
    height: 45vh;
}

.grid-item p {
    color: gray;
    font-size: calc(1vh + 1vw);
}

.prize {
    position: relative;
    top: -5vh;
}

.name {
    position: relative;
    max-width: 15vw;
}

