
body {
    background-color: #DFECFF;
    font-family: 'Roboto', sans-serif;
}

nav {

    margin: 8px -8px 8px -8px;
    /*background: linear-gradient(90deg, #DBE4FF, WHITE, #DBE4FF);*/

}

#homepage {
    color: BLACK;
    top: -5px;
    z-index: 12;
    position: absolute;
    font-size: 80px;
}

.trapezoid {
    top: 0;
    position: absolute;
    border-bottom: 75px solid #6040FF;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 235px;
}

#borderBar {
    margin-top: 75px;
    background: linear-gradient(90deg, #6040FF, #6040FF, #BFBFFF);
    padding: 5px 5px 5px 5px;
}

.line {
    position: absolute;
    border-left: 1px solid GREY;
    height: 55px;
    right: 7.5vw;
    top: 10px;
}

.navbarButton {
    font-weight: bold;
    font-size: calc(1vw + 1vh);
    position: absolute;
    right: 1vw;
    top: 1.5vh;
    padding: 5px 5px 0 5px;
    color: #202080;
}

#logInOut {
    top: 2.5vh;
}

#cart {
    margin-right: 8vw;
}

#account {
    margin-right: 12vw;
}

.navbarButton:hover {
    opacity: 0.5;
}

.navbarButton img {
    width: 40px;
    height: auto;
}

@media screen and (max-width: 1300px) {
    .line {
        right: 8.5vw;
    }
}

@media screen and (max-width: 900px) {
    .line {
        right: 10.5vw;
    }

    #cart {
        margin-right: 10.5vw;
    }

    #account {
        margin-right: 16.5vw;
    }
}

@media screen and (max-width: 900px) {
    .line {
        right: 11.5vw;
    }

    #cart {
        margin-right: 11vw;
    }

    #account {
        margin-right: 19vw;
    }
}

a {
    text-decoration: none;
    color: #00B7FF;
}
