ul {
    float: right;
    position: relative;
    left: -5vw;
    width: 70vw;
}

li {
    border-radius: 2px;
    background-color: #D7E9FF;
    position: relative;
    height: 25vh;
    margin-top: 2vh;
    left: -2vw;
    list-style-type: none;
}

li:hover {
    opacity: 0.8;
    cursor: pointer;
}

li + li {
    margin-top:2vh;
}

li img {
    height: 26vh;
    width: 10vw;
    position: relative;


}

li p {
    float: right;
    position: relative;
    color: gray;
    font-size: calc(1vh + 1vw);
}

.prize {
    margin: 0 1vw;
}

.name {
    margin: -25vh -7vw;
    font-size: calc(1.5vw + 1.5vh);
    font-weight: bold;
    max-width: 60vw;
}