#summary {
    position: absolute;
    top: 20vh;
    left: 20vw;
    width: 60vw;
    height: 40vh;
    background-color: #D7E9FF;
}

#summary p {
    top: 10vh;
    position: relative;
    left: 15vw;
    font-size: calc(1vh + 1vw);
    font-weight: bold;
}

#summary a {
    top: 10vh;
    position: relative;
    left: 19vw;
    font-size: calc(1vh + 1vw);
    font-weight: bold;
}